body {
    background-image: url('./resources/images/background.jpeg');
    font-family: ElucidCircular, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }

  footer {
    font-family: ElucidCircular, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }

  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  .topnav, .topnav a:link, .topnav a:visited {
    background-color: black;
    color: white;
  }

  .topnav a:hover, .topnav a:active {
    background-color: white;
    color: black;
  }

  .topnav a {
    padding: 1px 10px;
  }

  .topnav {
    line-height: 2rem;
  }

  #history h3 {
    font-weight: bold;
  }

  #application-form {
    font-weight: bold;
    background-color: white;
    border: 2px solid white;
    color: blue;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  #application-form:hover {
    background-color: grey;
    color: blue;
    cursor: pointer;
  }

  .application {
    text-align: center;
  }

  .invite-only p{
    font-size: 100px;
    font-weight: bold;
    line-height: 4px;
    color: rgba(225,225,225,0.96);
    text-shadow: 10px 10px 10px #808080, 10px 10px 10px #808080;
  }

  .invite-only img {
    float: right;
  }

  .invite-only {
    border: 2px solid black;
  }

  .twitter-timeline {
    margin-top: 20px;
  }

  footer {
    color: white;
    font-size: 14px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  footer:active {
    color: white;
  }

  footer a {
    padding-right: 5px;
  }

  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Instagram */
.fa-instagram {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Gmail */
.fa-gmail {
  background: #db4848e5;
  color: white;
}