* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: pink;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  .topnav, .topnav a:link, .topnav a:visited {
    background-color: black;
    color: white;
  }

  .topnav a:hover, .topnav a:active {
    background-color: white;
    color: black;
  }

  .topnav a {
    padding: 1px 50px;
  }

  .topnav {
    line-height: 2rem;
  }

  #history h3 {
    font-weight: bold;
  }

  #application-form {
    font-weight: bold;
    background-color: white;
    color: blue;
  }

  body {
    background-image: url('./resources/images/background.jpeg');
  }