body {
    background-image: url('./resources/images/background.jpeg');
    font-family: ElucidCircular, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }

  footer {
    font-family: ElucidCircular, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }

  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  .topnav, .topnav a:link, .topnav a:visited {
    background-color: black;
    color: white;
  }

  .topnav a:hover, .topnav a:active {
    background-color: white;
    color: black;
  }

  .topnav a {
    padding: 1px 10px;
  }

  .topnav {
    line-height: 2rem;
  }

  #history h3 {
    font-weight: bold;
  }

  #get-involved button {
    font-weight: bold;
    background-color: white;
    color: blue;
  }

  .invite-only p{
    font-size: 100px;
    font-weight: bold;
    line-height: 4px;
    color: rgba(225,225,225,0.96);
    text-shadow: 10px 10px 10px #808080, 10px 10px 10px #fff;
  }

  