* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: pink;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  .topnav {
    border: 2px solid black;
  }