* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: pink;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  .topnav, a:link, a:visited {
    background-color: black;
    color: white;
  }

  a:hover, a:active {
    background-color: white;
    color: black;
  }

  .topnav a {
    padding: 1px 10px;
  }

  .topnav {
    line-height: 2rem;
  }