body {
    background-image: url('./resources/images/background.jpeg');
    font-family: ElucidCircular, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }

  footer {
    font-family: ElucidCircular, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }

  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  .topnav, .topnav a:link, .topnav a:visited {
    background-color: black;
    color: white;
  }

  .topnav a:hover, .topnav a:active {
    background-color: white;
    color: black;
  }

  .topnav a {
    padding: 1px 10px;
  }

  .topnav {
    line-height: 2rem;
  }

  #history h3 {
    font-weight: bold;
  }

  .application {
    text-align: center;
  }

  #application-form {
    font-weight: bold;
    background-color: white;
    border: 2px solid white;
    color: blue;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  #application-form:hover {
    background-color: grey;
    color: blue;
    cursor: pointer;
  }

  .scrolling {
    display: inline;
  }

  .carousel img {
    padding: 10px;
    border: 1px solid grey;
    background-color: grey;
    margin-right: 100px;
    display: inline-block;
  }

  .carousel {
    white-space: nowrap;
    width: 900px;
    overflow-x: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .invite-only p{
    font-size: 100px;
    font-weight: bold;
    line-height: 4px;
    color: rgba(225,225,225,0.96);
    text-shadow: 10px 10px 10px #808080, 10px 10px 10px #808080;
  }

  .invite-only img {
    float: right;
    border-radius: 50%;
  }

  .invite-only {
    border: 2px solid black;
  }

  .twitter-timeline {
    margin-top: 20px;
  }

  footer {
    color: white;
    font-size: 14px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  footer:active {
    color: white;
  }

  footer a {
    padding-right: 5px;
  }

  footer img {
    border-radius: 50%;
  }

  /* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 15x;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 40px;
  border-radius: 25px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #3B5998;
  color: white;
}

/* Google */
.fa-google {
  background: #dd4b39;
  color: white;
}

.arrow-right {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: right;
  vertical-align: middle;
}

.arrow-left {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  float: left;
  vertical-align: middle;
}

.invite-only img {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

